@import "react-big-calendar/lib/css/react-big-calendar.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}



::-webkit-scrollbar-thumb {
  background: #92929d;
  border-radius: 5px;
  transition: all 0.4s;
}

::-webkit-scrollbar-thumb:hover {
  background: #0f1bf2;
}
